body {
    background-color: #E8DF94;
}

h1 {
    color: #C70039;
}

#quizeus {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
}
p {
    padding: 22px;
    font-style: normal;
}
.btn {
    float: right;
    background-color: #581845;
    border: 6px;
    color: #FFC300;
    padding: 22px;
    font-size: 13px;
    margin: 6px;
}
#submit {
    text-align: right;
    padding: 22px;
}
#ugot {
    font-size: 24px;
    background-color: #581845;
    color: #FFC300;
    text-align: center;
    padding: 240px;
    margin: 120px;
}
.opensesame {
  display: none;
}
